# 챗봇 위젯 설정
# 기본 클라이언트 ID
VITE_CLIENT_ID=RS000001
# 기본 앱 ID
VITE_APP_ID=0001

# 데모 페이지 설정
# 데모 페이지 타이틀
VITE_DEMO_TITLE=チャットボットウィジェットテスト

# 챗봇 URL
# 프로덕션 환경의 챗봇 URL
VITE_CHATBOT_URL=https://ainavi-dev.meeta.jp/

# 개발자 검증용 설정 (선택사항)
# 개발 환경 URL
VITE_DEV2_URL=https://dev2.dy4dah5zzytzy.amplifyapp.com/
# 개발 환경 클라이언트 ID
VITE_DEV2_CLIENT_ID=RS000002
# 개발 환경 앱 ID
VITE_DEV2_APP_ID=0002